[package]
name = "scheme-rs"
version = "0.1.0"
edition = "2021"

[dependencies]
async-trait = "0.1"
derive_more = { version = "1.0", features = ["debug", "from"]}
dyn-clone = "1.0.13"
futures = "0.3"
indexmap = "2"
inventory = "0.3"
nom = "7"
nom_locate = "4"
num = "0.4"
proc-macros = { path = "proc-macros" }
rug = { version = "1", features = ["num-traits"] }
rand = "0.8"
thiserror = "1"
tokio = { version = "1.41", features = ["full"] }
unicode_categories = "0.1"
reedline = "0.36"
# TODO: Get rid of this dependency
derivative = "2"

[profile.release]
lto = true
